### [DataFrame 행/열/원소 선택]

[1] 모듈 로딩 및 데이터 준비 <hr>

In [1]:
# 모듈 로딩
import pandas as pd

In [19]:
# 데이터 준비
dataDF = pd.DataFrame([[11, 22, 33, 44],
                       [55, 66, 77, 88],
                       [1, 2, 3, 4],
                       [5, 6, 7, 8],
                       [9, 10, 20 ,30]])

display(dataDF)

    0   1   2   3
0  11  22  33  44
1  55  66  77  88
2   1   2   3   4
3   5   6   7   8
4   9  10  20  30

[2] 행 선택 <hr>

In [18]:
# [1개 행 선택 => 선택 결과 타입: Series]
# one_row = dataDF.iloc[0]
one_row = dataDF.loc[0]
# one_row = dataDF[0] # 행 선택 아님

print(type(one_row))
display(one_row)

<class 'pandas.core.series.Series'>

0    11
1    22
2    33
3    44
Name: 0, dtype: int64

In [33]:
# [여러 개 행 선택 => 선택 결과 타입: DataFrame]
two_row = dataDF.iloc[[0, 2]]
two_row = dataDF.loc[[0, 2]]

print(type(two_row))
display(two_row)

<class 'pandas.core.frame.DataFrame'>

    0   1   2   3
0  11  22  33  44
2   1   2   3   4

In [35]:
# [여러 개 행 선택 => 선택 결과 타입: DataFrame]
# rows = dataDF.iloc[[0, 1, 2]]
# rows = dataDF.loc[[0, 1, 2]]

# rows = dataDF.iloc[0 : 3]  # iloc[시작:끝+1:간격] 
rows = dataDF.loc[0 : 3]     #  loc[시작:끝:간격] 


print(type(rows))
display(rows)

<class 'pandas.core.frame.DataFrame'>

    0   1   2   3
0  11  22  33  44
1  55  66  77  88
2   1   2   3   4
3   5   6   7   8

[3] 열 선택

In [42]:
# 열 인덱스 즉, 컬럼이름 설정
dataDF.columns = ['A', 'B', 'C', 'D']
display(dataDF)

    A   B   C   D
0  11  22  33  44
1  55  66  77  88
2   1   2   3   4
3   5   6   7   8
4   9  10  20  30

In [55]:
# [1개 컬럼 선택 => 선택 결과 : Series]
# one_col = dataDF['A']
one_col = dataDF.A      # 단, 컬럼 이름이 글자인 경우, 1개만 가능

print(type(one_col))
display(one_col)

<class 'pandas.core.series.Series'>

0    11
1    55
2     1
3     5
4     9
Name: A, dtype: int64

In [57]:
# [여러 개 컬럼 선택 => 선택 결과 : DataFrame]
two_col = dataDF[['A', 'D']]

print(type(two_col))
display(two_col)

<class 'pandas.core.frame.DataFrame'>

    A   D
0  11  44
1  55  88
2   1   4
3   5   8
4   9  30

In [74]:
# [여러 개 컬럼 선택 => 선택 결과 : DataFrame]
# cols = dataDF[['B', 'C', 'D']]
# cols = dataDF['B':'D']        # ERROR
# cols = dataDF.loc[0:5, 'B':'D'] # .loc  : 행 먼저 불러오고, 열 불러와야 됨
# cols = dataDF.iloc[0:5, 1:]       # .iloc : 무조건 위치 인덱스(숫자)
cols = dataDF.iloc[:, 1:]       

print(type(cols))
display(cols)

<class 'pandas.core.frame.DataFrame'>

    B   C   D
0  22  33  44
1  66  77  88
2   2   3   4
3   6   7   8
4  10  20  30

[4] 원소 선택 <hr>
- 형식
    * DF.iloc[행위치인덱스, 열위치인덱스]
    * DF.loc [행라벨인덱스, 열라벨인덱스]

In [78]:
# 현재 DF 확인
dataDF.index = ['r0', 'r1', 'r2', 'r3', 'r4']
display(dataDF)

     A   B   C   D
r0  11  22  33  44
r1  55  66  77  88
r2   1   2   3   4
r3   5   6   7   8
r4   9  10  20  30

In [ ]:
#________________________________________________
# 1개원소 선택 -> DF.iloc[행, 열] / DF.loc[행, 열]
#________________________________________________
# 데이터 66 선택
one_e1 = dataDF.loc['r1', 'B']
one_e2 = dataDF.iloc[1, 1]

print(one_e1, type(one_e1))
print(one_e2, type(one_e2))

66 <class 'numpy.int64'>
66 <class 'numpy.int64'>

In [ ]:
#________________________________________________
# 여러 개 선택 -> DF.loc[[행1, 행2], [열1, 열2]]
#                DF.iloc[[행1, 행2], [열1, 열2]]
#________________________________________________
# r1, r3행과 B, C 컬럼이 교차하는 값들
one_e2 = dataDF.loc[['r1', 'r3'], ['B', 'C']]
one_e1 = dataDF.iloc[[1, 3], [1, 3]]

print(one_e1, type(one_e1))
print(one_e2, type(one_e2))

     B   D
r1  66  88
r3   6   8 <class 'pandas.core.frame.DataFrame'>
66 <class 'numpy.int64'>

In [81]:
# r1행과 B, C 컬럼이 교차하는 값들
one_e1 = dataDF.loc['r1', ['B', 'C']]
one_e2 = dataDF.iloc[1, [1, 2]]

print(one_e1, type(one_e1))
print(one_e2, type(one_e2))

B    66
C    77
Name: r1, dtype: int64 <class 'pandas.core.series.Series'>
B    66
C    77
Name: r1, dtype: int64 <class 'pandas.core.series.Series'>