### [중복 데이터 체크 및 처리]
- 중복 데이터 여부 검사 : DF.duplicated() => True/False
- 중복 데이터 삭제 처리 : DF.drop_duplicates()

In [3]:
## 모듈로딩
import pandas as pd

df = pd.DataFrame({ 'brand' : [ 'Yum', 'Yum', 'Indo', 'Indo', 'Indo' ],
                    'style' : [ 'cup', 'cup', 'cup', 'pack', 'pack' ],
                    'rating' : [4, 4, 3.5, 15, 5] })

## 중복체크
result = df.duplicated().sum()

print(f'중복 데이터/행 : {result}개')

display(df)

중복 데이터/행 : 1개

  brand style  rating
0   Yum   cup     4.0
1   Yum   cup     4.0
2  Indo   cup     3.5
3  Indo  pack    15.0
4  Indo  pack     5.0

In [4]:
# 중복 체크
result = df.duplicated().sum()

print(f"중복 데이터/행 : {result}개")

중복 데이터/행 : 1개

In [6]:
# 중복체크
# - keep 매개변수: 'first' 첫 번째 유지, 나머지 중복
result = df.duplicated()
result

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [8]:
# 중복체크 - 마지막 유지, 그 외 중복
result = df.duplicated(keep='last')
result

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [9]:
# 중복체크 - keep=False 모두 중복
result = df.duplicated(keep=False)
result

0     True
1     True
2    False
3    False
4    False
dtype: bool