#### [속성 변경 및 설정]
- Series/DataFrame에는 많은 속성 존재
- 일부는 읽기/변경 가능
- 일부는 읽기만 가능한 속성 => setter 메서드 X

[읽기/변경 가능한 속성들] <hr>

In [1]:
# 모듈 로딩
import pandas as pd

In [7]:
# 임의의 데이터
data_dict = {'a':10, 'b':9, 'c':22}

# 시리즈 인스턴스 생성
dataSR = pd.Series(data_dict)

# 출력
print(dataSR)
print(dataSR.index)

a    10
b     9
c    22
dtype: int64
Index(['a', 'b', 'c'], dtype='object')

In [15]:
#______________________________________________
# index 속성 변경
#______________________________________________
# Index(['a', 'b', 'c'], dtype='object') 객체
# => 변경 '하나', '둘, '셋'

dataSR.index = ['하나', '둘', '셋']

# => 확인
print(dataSR)
print(dataSR.index)

하나    10
둘      9
셋     22
dtype: int64
Index(['하나', '둘', '셋'], dtype='object')

In [45]:
#______________________________________________
# name 속성 변경
#______________________________________________
# 현재 name 속성 확인
print("현재", dataSR.name)

# name 속성 설정 및 확인
dataSR.name = '점수'

print("변경", dataSR.name)
display(dataSR, "display: 가독성 증가")

현재 점수
변경 점수

하나    10
둘      9
셋     22
Name: 점수, dtype: int64

'display: 가독성 증가'

[읽기만 가능 / 변경 불가한 속성들] <hr>

In [23]:
#______________________________________________
# dtype 속성 변경 X
#______________________________________________
# 현재 dtype 속성 확인 => 비공개 속성에서 getter 메서드 존재
print("현재", dataSR.dtype)

# dtype 속성 설정 및 확인 => 비공개 속성에서 setter 메서드 미존재
# dataSR.dtype = 'int16'

print("변경", dataSR.dtype) # 실행 안된다는 건 getter/setter 없다는 뜻
display(dataSR)

현재 int64
변경 int64

하나    10
둘      9
셋     22
Name: 점수, dtype: int64

In [27]:
#______________________________________________
# values 속성 변경 X
#______________________________________________
# 현재 values 속성 확인 => 비공개 속성에서 getter 메서드 존재
print("현재", dataSR.values)

# values 속성 설정 및 확인 => 비공개 속성에서 setter 메서드 미존재
# dataSR.values = [0, 9, 11]
display(dataSR)

현재 [10  9 22]

하나    10
둘      9
셋     22
Name: 점수, dtype: int64

[DataFrame의 속성 읽기/변경] <hr>

In [34]:
# 데이터 
data_dict = {'번호' : [1, 5, 9],
             '이름' : ['홍', '마', '베']}

# 데이터프레임 생성: key => 컬럼명, Value => 세로 즉, 컬럼 데이터
dataDF = pd.DataFrame(data_dict)  

display(dataDF, dataDF.columns, dataDF.index)

   번호 이름
0   1  홍
1   5  마
2   9  베

Index(['번호', '이름'], dtype='object')

RangeIndex(start=0, stop=3, step=1)

In [46]:
#______________________________________________
# index 변경
#______________________________________________
print("현재", dataDF.index)

# 변경 [0, 1, 2] == ['사람1', '사람2', '사람3']
dataDF.index = ['사람1', '사람2', '사람3']

display(dataDF)

현재 Index(['사람1', '사람2', '사람3'], dtype='object')

     번호 이름
사람1   1  홍
사람2   5  마
사람3   9  베

In [48]:
#______________________________________________
# index 변경
#______________________________________________
print("현재", dataDF.index, dataDF.columns)

# 변경 [0, 1, 2] == ['사람1', '사람2', '사람3']
dataDF.index = ['사람1', '사람2', '사람3']

# 변경 ['번호', '이름'] == ['ID', 'NAME']
dataDF.columns = ['ID', 'NAME']

display(dataDF)

현재 Index(['사람1', '사람2', '사람3'], dtype='object') Index(['번호', '이름'], dtype='object')

     ID NAME
사람1   1    홍
사람2   5    마
사람3   9    베