### [ 행/열/원소 선택 ]
- Series => 원소 삭제
- DataFrame => 행, 열, 원소 선택 

- 속성 => 정수/위치 인덱스,  라벨 인덱스 또는 인덱스 라벨
    * 객체변수명[인덱스] => 객체변수명.iloc[정수인덱스], 객체변수명.loc[라벨인덱스]

[Series 원소 선택 ] <hr>

In [48]:
## 모듈 로딩
import pandas as pd 

print(pd.__version__)

2.3.3

In [49]:
## 임의의 데이터 
data_dict = {'a':10, 'b':9, 'c':22, 'd':5, 'e':77, 'f':2 }

## 시리즈 인스턴스 생성 
dataSR = pd.Series(data_dict)

## 출력 
display(dataSR, dataSR.index)

a    10
b     9
c    22
d     5
e    77
f     2
dtype: int64

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [50]:
## -------------------------------------------
## 원소 1개 선택 => Series변수명[인덱스]
## -------------------------------------------
##=> 'a' 원소 1개 선택 
one_data = dataSR['a']
print("one_data", one_data, type(one_data), sep='\n')


## -------------------------------------------
## 원소 1개 선택 => Series변수명.loc[라벨인덱스]
## -------------------------------------------
##=> 'a' 원소 1개 선택 
one_data = dataSR.loc['a']
print("one_data", one_data, type(one_data), sep='\n')


## -------------------------------------------
## 원소 1개 선택 => Series변수명.iloc[정수인덱스]
## -------------------------------------------
##=> 'a' 원소 1개 선택 
print(dataSR.index)
# Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

one_data = dataSR.iloc[0]
print("one_data", one_data, type(one_data), sep='\n')

one_data
10
<class 'numpy.int64'>
one_data
10
<class 'numpy.int64'>
Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')
one_data
10
<class 'numpy.int64'>

In [51]:
## -------------------------------------------
## 원소 1개 선택 => Series변수명.iloc[정수인덱스]
## -------------------------------------------
##=> ['a', 'b', 'c', 'd', 'e', 'f'] ==> [0,1,2,3,4,5]
dataSR.index=[0,1,2,3,4,5]
print(dataSR.index)

one_data = dataSR.iloc[0]
print("one_data", one_data, type(one_data), sep='\n')

Index([0, 1, 2, 3, 4, 5], dtype='int64')
one_data
10
<class 'numpy.int64'>

In [52]:
## -----------------------------------------------------------------------
## 원소 여러 개 선택 => Series변수명[ [인덱스1, 인덱스2,.., 인덱스n ] ]
##                    Series변수명.iloc[ [인덱스1, 인덱스2,.., 인덱스n ] ]
##                    Series변수명.loc[  [인덱스1, 인덱스2,.., 인덱스n ] ]
## -----------------------------------------------------------------------
## =>  0번, 3번, 5번 3개 선택
ret  = dataSR[ [0,3,5] ]
ret2 = dataSR.iloc[ [0,3,5] ]
ret3 = dataSR.loc[ [0,3,5] ]

display(ret,  type(ret))
display(ret2, type(ret2))
display(ret3, type(ret3))

0    10
3     5
5     2
dtype: int64

pandas.core.series.Series

0    10
3     5
5     2
dtype: int64

pandas.core.series.Series

0    10
3     5
5     2
dtype: int64

pandas.core.series.Series

In [53]:
## -----------------------------------------------------------------------
## 원소 여러 개 선택 => Series변수명[ 시작인덱스 : 끝인덱스+1 : 간격 ] ]
##                    Series변수명.iloc[ 시작인덱스 : 끝인덱스+1 : 간격 ]
##                    Series변수명.loc[  시작인덱스 : 끝인덱스 : 간격 ]
## -----------------------------------------------------------------------
## =>  0번, 2번, 4번 3개 선택
# ret  = dataSR[ 0:5:2 ]
# ret2 = dataSR.iloc[ 0:5:2  ]
# ret3 = dataSR.loc[ 0:5:2  ]

ret  = dataSR[ ::2 ]
ret2 = dataSR.iloc[ ::2  ]
ret3 = dataSR.loc[ ::2  ]


print('--3개원소 0번, 2번, 4번------')
display(ret,  type(ret))
display(ret2, type(ret2))
display(ret3, type(ret3))

--3개원소 0번, 2번, 4번------

0    10
2    22
4    77
dtype: int64

pandas.core.series.Series

0    10
2    22
4    77
dtype: int64

pandas.core.series.Series

0    10
2    22
4    77
dtype: int64

pandas.core.series.Series

In [54]:
## =>  0번~3번 4개 선택
ret4 = dataSR.iloc[0:4]   ## .iloc[시작:끝]   시작<= ~ <끝
ret5 = dataSR.loc[0:3]    ## .loc[시작:끝]    시작<= ~ <=끝

display(ret4, type(ret4))
display(ret5, type(ret5))

0    10
1     9
2    22
3     5
dtype: int64

pandas.core.series.Series

0    10
1     9
2    22
3     5
dtype: int64

pandas.core.series.Series

[ DataFrame의 행/열 삭제 ]<hr>

In [55]:
## 데이터 
data_dict = {'번호':[1,5,9],
             '이름':['홍','마','베']}

## 데이터프레임생성: key => 컬럼명, Value => 세로 즉, 컬럼 데이터
dataDF = pd.DataFrame(data_dict)

## 출력
display(dataDF, dataDF.columns, dataDF.index)

   번호 이름
0   1  홍
1   5  마
2   9  베

Index(['번호', '이름'], dtype='object')

RangeIndex(start=0, stop=3, step=1)

In [56]:
## -------------------------------------
## 행 방향 데이터 삭제 
## -------------------------------------
## => [labels, axis=0 매개변수]
dataDF1 = dataDF.drop([1], axis=0)     ## [기] inplace=False, 원본 유지
display(dataDF1)
display(dataDF)

print('='*40)

## => [index 매개변수]
dataDF1 = dataDF.drop(index=[1])        ## [기] inplace=False, 원본 유지
display(dataDF1)
display(dataDF)

   번호 이름
0   1  홍
2   9  베

   번호 이름
0   1  홍
1   5  마
2   9  베

========================================

   번호 이름
0   1  홍
2   9  베

   번호 이름
0   1  홍
1   5  마
2   9  베

In [57]:
## -------------------------------------
## 열 방향 데이터 삭제 
## -------------------------------------
## => [labels, axis=1 매개변수]
dataDF1 = dataDF.drop(['번호'], axis='columns')     ## [기] inplace=False, 원본 유지
display(dataDF1)
display(dataDF)

print('='*40)

## => [columns 매개변수]
dataDF1 = dataDF.drop(columns=['번호'])        ## [기] inplace=False, 원본 유지
display(dataDF1)
display(dataDF)

  이름
0  홍
1  마
2  베

   번호 이름
0   1  홍
1   5  마
2   9  베

========================================

  이름
0  홍
1  마
2  베

   번호 이름
0   1  홍
1   5  마
2   9  베

In [58]:
sr1 = pd.Series([7, 9, 3], index=[1,2,3])
sr1

1    7
2    9
3    3
dtype: int64

In [60]:
print( sr1[1], sr1.loc[1], sr1.iloc[1] )

7 7 9

In [61]:
sr1 = pd.Series([7, 9, 3], index=['a','b','c'])
sr1

a    7
b    9
c    3
dtype: int64

In [65]:
print( sr1['a'], sr1.loc['a'], sr1.iloc[0] )

7 7 7

In [67]:
a=3
b=a
c=3
print(id(a), id(b), id(c))

140731363140456 140731363140456 140731363140456