### [인덱스 다루기 - MultiIndex]
- 기본 인덱스
    * .set_index() <- 컬럼을 인덱스로 설정
    * .reindex() <- 인덱스 재구성(일부 변경. 결측치 발생 가능)
    * .reset_index() <- 위치인덱스(RangeIndex)로 변경. 기존 인덱스는 컬럼 추가
    * .iloc[위치인덱스] <- 판다스에서 DataFrame/Series에 데이터가 존재하는 위치 번호를 지정/정수
    * .loc[라벨인덱스] <- DataFrame/Series 생성 시 index, columns 매개변수로 지정한 인덱스들
- 멀티 인덱스
    * .xs() <- 인덱스 레벨에 따른 데이터 선택하는 메서드

[1] 모듈 로딩 및 데이터 준비 <hr>

In [287]:
# 모듈 로딩
import pandas as pd

In [288]:
## 인덱서 생성

# 1. 다중 인덱스 컬럼 생성: 'subject', 'exam' 두 레벨로 된 멀티인덱스
columns_ = pd.MultiIndex.from_product(
    [['math', 'eng'], ['mid', 'final']],
    names=['subject', 'exam']
)

# 2. 2행 4열 데이터프레임 생성, columns에 멀티인덱스 할당
dataDF = pd.DataFrame(
    [[80, 90, 85, 95],
     [70, 88, 75, 93]],
    columns=columns_
)

print(dataDF)

subject math       eng
exam     mid final mid final
0         80    90  85    95
1         70    88  75    93

In [289]:
# 확인
dataDF.head()

subject math       eng
exam     mid final mid final
0         80    90  85    95
1         70    88  75    93

In [290]:
# # ================================
# # 멀티인덱스 속성 확인
# # ================================
# mIdx = dataDF.index

# print('-----------------------------------------')
# print(f'type(mIdx)  : {type(mIdx)}')
# print(f'names       : {mIdx.names}')
# print(f'levels      : {mIdx.levels}')
# print(f'dtypes      : {mIdx.dtypes}')
# print(f'nlevels     : {mIdx.nlevels}')
# print('-----------------------------------------')
# print(f'levshape    : {mIdx.levshape}')
# print(mIdx)

[2] 데이터프레임에서 인덱스 관련 메서드 다루기 <hr>

In [291]:
# # ====================================================
# ## [2-1] 열/컬럼 데이터 선택
# # ====================================================
originalDF = dataDF.copy()

# # 전체 열이름/열인덱스로 선택
math_final = originalDF[('math', 'final')]
print(math_final)



# # # level0번 열이름/열인덱스로 선택 => level0 동일한 모든 행
math_final = originalDF[('math', 'final')]
print(math_final)



# # # - level1번 열이름/열인덱스로 선택 => level1 동일한 모든 행
level1_sel = originalDF.xs('final', axis=1, level=1)
print(level1_sel)

0    90
1    88
Name: (math, final), dtype: int64
0    90
1    88
Name: (math, final), dtype: int64
subject  math  eng
0          90   95
1          88   93

In [292]:
# ==========================================================
## [2-2] 열 추가 => 사전식 정렬 추천/성능 느려지는 것 막기 위해서
# ==========================================================
# => 모든 컬럼 동일값 추가
# 열 추가
dataDF[('eng', 'test')] = 0

dataDF[('math', 'test')] = [100, 89]
dataDF.sort_index(axis='columns')
display(dataDF)

subject math       eng            math
exam     mid final mid final test test
0         80    90  85    95    0  100
1         70    88  75    93    0   89

In [299]:
# # ====================================================
# ## [2-3] 열/컬럼 인덱스 초기화
# # ====================================================
# -> .reset_index(): 축/방향 설정 X. 행인덱스로 지원하는 메서드
# => .T 속성: 행 => 열, 열 => 행
dataDF.T.reset_index('subject').T

exam      mid final  mid final test  test
subject  math  math  eng   eng  eng  math
0          80    90   85    95    0   100
1          70    88   75    93    0    89