# 판다스 300제 문제풀이

### 02. 시리즈 생성(051 ~ 060) <hr>

In [113]:
# 모듈 임포트

import pandas as pd
from pandas import Series

In [114]:
#시리즈의 생성 (리스트)

data = [100, 200, 300]
s = pd.Series(data)
print(s)

0    100
1    200
2    300
dtype: int64

In [115]:
#시리즈의 생성 (인덱스 지정)

data = [100, 200, 300]
index = ['철수', '영희', '아름']
s = pd.Series(data, index)
print(s)

철수    100
영희    200
아름    300
dtype: int64

In [116]:
#시리즈의 생성 (딕셔너리)

data = [100, 200, 300]
s = pd.Series(data)
s.index = ['철수', '영희', '아름']
print(s)

철수    100
영희    200
아름    300
dtype: int64

In [117]:
# 시리즈와 딕셔너리

data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = pd.Series(data, index)

print(s.to_dict())

{'철수': 100, '영희': 200, '아름': 300}

In [118]:
s.to_excel('data.xlsx')

In [119]:
# 시리즈와 엑셀

s.to_excel('data.xlsx', header=None)

In [120]:
#시리즈와 엑셀

pd.read_excel('data.xlsx')

   철수  100
0  영희  200
1  아름  300

### 03. 시리즈 데이터 타입(061 ~ 070) <hr>

In [121]:
# 시리즈 데이터 타입
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = pd.Series(data, index)

print(s.dtype)

int64

In [122]:
# 시리즈 데이터

data = [  10,  "가" ]
s = pd.Series( data )

print(s.dtype)

object

In [123]:
# 시리즈 인덱스의 데이터 타입
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = pd.Series(data, index)

print(s.index.dtype)

object

In [124]:
# 시리즈 이름과 인덱스 이름
data = {
    "2020-12-11": 73400,
    "2020-12-10": 72900,
    "2020-12-09": 73900,
    "2020-12-08": 71700,
    "2020-12-07": 72900
}

s = Series(data)
print(s)
s.name = '종가'
print(s)
s.index.name = "날짜"
print(s)

2020-12-11    73400
2020-12-10    72900
2020-12-09    73900
2020-12-08    71700
2020-12-07    72900
dtype: int64
2020-12-11    73400
2020-12-10    72900
2020-12-09    73900
2020-12-08    71700
2020-12-07    72900
Name: 종가, dtype: int64
날짜
2020-12-11    73400
2020-12-10    72900
2020-12-09    73900
2020-12-08    71700
2020-12-07    72900
Name: 종가, dtype: int64

In [125]:
# to_dict

data = {"apple": 1500, "banana": 3000}
s = pd.Series(data)
s
s.to_dict()

{'apple': 1500, 'banana': 3000}

In [126]:
# 인덱스 이름

data = {"apple": 1500, "banana": 3000}
s = pd.Series(data)
s
s.index.name = 'icecream'
s

icecream
apple     1500
banana    3000
dtype: int64

In [127]:
# 시리즈 이름

s = pd.Series(data=[1, 2, 3])
s.name = 'number'
s

0    1
1    2
2    3
Name: number, dtype: int64

In [128]:
# NaN
data = [1.0, 2.0, None]
s = Series(data)
s
# s.loc[2] = 'NaN'
s

0    1.0
1    2.0
2    NaN
dtype: float64

### 04 시리즈 인덱싱과 슬라이싱(071 ~ 080) <hr>

In [129]:
# 시리즈 타입

s = pd.Series([1, 2, 'python'])
print(s)
print(s.dtype)

0         1
1         2
2    python
dtype: object
object

In [130]:
# 시리즈 타입 변경

s = pd.Series(['1', '2', '3'])
s.astype('int32')

0    1
1    2
2    3
dtype: int32

In [131]:
# 시리즈 데이터 타입 설정

data = {'BTC':50000,
        'XRP':1,
        'ETH':4000}

s = Series(data, dtype='float')
s

BTC    50000.0
XRP        1.0
ETH     4000.0
dtype: float64

In [132]:
# 시리즈 인덱싱 (대괄호 사용하기)

data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
print(s['영희'])

200

In [133]:
# 시리즈 인덱싱 (iloc 속성 사용하기)

data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

print(s.iloc[1])

200

In [134]:
# 시리즈 인덱싱 (loc 속성 사용하기)

data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

print(s.loc['영희'])

200

In [135]:
# 시리즈 인덱싱 (인덱스 사용하기)

data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

print(s.영희)

200

In [136]:
# 시리즈 슬라이싱

data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

print(s.iloc[0:2])
print(s.iloc[ :2])
print(s.loc["철수":"영희"])
print(s[0:2])
print(s[ :2])
print(s["철수":"영희"])
print(s.values[:2])

철수    100
영희    200
dtype: int64
철수    100
영희    200
dtype: int64
철수    100
영희    200
dtype: int64
철수    100
영희    200
dtype: int64
철수    100
영희    200
dtype: int64
철수    100
영희    200
dtype: int64
[100 200]

In [137]:
# 시리즈 슬라이싱

data = [100, 200, 300, 400, 500, 600]
index = ["08/01", "08/02", "08/03", "08/04", "08/05", "08/06"]
s = Series(data, index)

print(s.iloc[ : :2])
print(s[ : :2])

print(s.loc["08/01":"08/06":2])
print(s["08/01":"08/06":2])

print(s.iloc[[0, 2, 4]])

08/01    100
08/03    300
08/05    500
dtype: int64
08/01    100
08/03    300
08/05    500
dtype: int64
08/01    100
08/03    300
08/05    500
dtype: int64
08/01    100
08/03    300
08/05    500
dtype: int64
08/01    100
08/03    300
08/05    500
dtype: int64

### 05. 시리즈 수정, 추가 및 삭제(081 ~ 090) <hr>

In [144]:
# 시리즈 추가

data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

s['순이'] = 400
s

철수    100
영희    200
아름    300
순이    400
dtype: int64

In [160]:
# 시리즈 삭제

data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
s

s.drop('철수', inplace=True)
s

영희    200
아름    300
dtype: int64

In [ ]:
# unique

data = {
    "삼성전자": "전기,전자",
    "LG전자": "전기,전자",
    "현대차": "운수장비",
    "NAVER": "서비스업",
    "카카오": "서비스업"
}

s = Series(data)
s

print(s.unique())

['전기,전자' '운수장비' '서비스업']

In [169]:
# unique

s = pd.Series(
    data = [9000, 9000, 8000, 9000, 10000],
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']
)

s.unique()

array([ 9000,  8000, 10000])

In [171]:
# unique

s = pd.Series(
    data = [9000, 9000, 8000, 9000, 10000],
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']
)

s.index.unique()

Index(['김과장', '이대리', '박전무'], dtype='object')

In [175]:
# value_counts

s = pd.Series(
    data = [9000, 9000, 8000, 9000, 10000],
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']
)

# len(s.unique())
s.value_counts()

9000     3
8000     1
10000    1
Name: count, dtype: int64

In [ ]:
# value_counts

s = pd.Series(
    data = [9000, 9000, 8000, 9000, 10000],
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']
)