# 자동차 연비 데이터 분석 실습

1) 모듈 및 데이터 로딩

In [36]:
import pandas as pd 
import matplotlib.pyplot as plt
import koreanize_matplotlib

In [37]:
FILE_NAME = '../DATA/auto_mpg.csv'
# mpg(연비), cylinders(실린더 수), displacement(배기량), horsepower(마력), weight(무게), 
# acceleration(가속도), model year(연식), origin(출처국가), car name(차량명)

# 원본 데이터
raw_data = pd.read_csv(FILE_NAME)

# 복사본 준비
dataDF = raw_data.copy()

2. 데이터 정보 확인 및 전처리 계획

In [39]:
# 원본 데이터 확인
display(dataDF.head())
print(dataDF.info())

numDF = dataDF.describe()
objDF = dataDF.describe(exclude=['number'])

display("수치형 컬럼들",   numDF)
display("텍스트형 컬럼들", objDF)

dataDF.dtypes

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB
None

'수치형 컬럼들'

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

'텍스트형 컬럼들'

       horsepower    car name
count         398         398
unique         94         305
top           150  ford pinto
freq           22           6

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object