#### [PYTHON & MYSQL 연동] <hr>

In [27]:
## 모듈 로딩
import pymysql

print(f"pymysql v.{pymysql.__version__}")

pymysql v.1.4.6

In [28]:
## RDBMS 정보
SEVER_IP = 'localhost' 
USER_ID  = 'root'
USER_PW  = 'rlagusdn@0'
DB_NAME  = 'EMS'
CHARSET  = 'uft8mb4'

In [30]:
## ================================================================
## DB 연결
## ================================================================
conn = pymysql.connect(host        = SEVER_IP,
                       user        = USER_ID,
                       password    = USER_PW,
                       database    = DB_NAME,
                       cursorclass = pymysql.cursors.DictCursor)

In [9]:
## ================================================================
## DB - SELECT 처리
## ================================================================
ALL_DATA_SQL = 'SELECT * FROM employees;'
ID_DATA_SQL  = 'SELECT id FROM employees'

with conn.cursor() as cursor:
    cursor.execute(ALL_DATA_SQL)
    result = cursor.fetchall()  # 모든 데이터 가져오기
    display(result)

()

In [ ]:
## ================================================================
## DB - INSERT 처리
## ================================================================
INSERT_DATA_SQL = """
INSERT INTO employees VALUES
(11111, 'password1', '김현우', '대리', 56000000, 15, '개발팀', 'khw274@gmail.com', '010-4738-3936'),
(22222, 'password2', '임정현', '과장', 78000000, 15, '영업팀', '313414@gmail.com', '010-3133-3936'),
(33333, 'password3', '이지연', '사장', 100000000, 15, '구매팀', '1423431@gmail.com', '010-1323-3936'),
(44444, 'password4', '이서범', '부장', 70000000, 15, '부품팀', '32435@gmail.com', '010-4738-5453');
"""

with conn.cursor() as cursor:
    cursor.execute(INSERT_DATA_SQL)
    conn.commit()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'att_id,emp_id,att_date,check_in,check_out,status\n1,10001,2025-01-01,,,결근\n2,1' at line 1")

In [ ]:
with conn.cursor() as cursor:
    cursor.execute('ALTER TABLE employees ADD COLUMN email VARCHAR(100), ADD COLUMN phone VARCHAR(20);')
    conn.commit()

OperationalError: (1060, "Duplicate column name 'email'")

In [28]:
## ================================================================
## DB - DELETE 처리
## ================================================================
DELETE_DATA_SQL = "DELETE FROM employees WHERE emp_id=1;"


with conn.cursor() as cursor:
    cursor.execute(DELETE_DATA_SQL)
    conn.commit()

In [115]:
## ================================================================
## DB - UPDATE 처리
## ================================================================
UPDATE_DATA_SQL = "UPDATE user SET name=%s WHERE id=%s;"


with conn.cursor() as cursor:
    cursor.execute(UPDATE_DATA_SQL, ('원더우먼', 10))
    conn.commit()

In [ ]:
## ================================================================
## DB 연결 해제
## ================================================================
conn.close()