### [데이터 그룹화 연산]

[1] 모듈 로딩 및 데이터 준비 <hr>

In [1]:
# 모듈 로딩
import pandas as pd

In [3]:
# 데이터 준비
DATA_FILE = '../Data/titanic.csv'

# CSV => DataFrame 로딩
titanicDF = pd.read_csv(DATA_FILE, usecols=[0, 2, 3, 6, 8])
titanicDF = pd.read_csv(DATA_FILE, usecols=['survived', 'sex', 'age', 'fare', 'class'])

display(titanicDF)

     survived     sex   age     fare   class
0           0    male  22.0   7.2500   Third
1           1  female  38.0  71.2833   First
2           1  female  26.0   7.9250   Third
3           1  female  35.0  53.1000   First
4           0    male  35.0   8.0500   Third
..        ...     ...   ...      ...     ...
886         0    male  27.0  13.0000  Second
887         1  female  19.0  30.0000   First
888         0  female   NaN  23.4500   Third
889         1    male  26.0  30.0000   First
890         0    male  32.0   7.7500   Third

[891 rows x 5 columns]

[2] 데이터 기본 정보 확인 : info(), head()/tail(), describe() <hr>

In [ ]:
# 전체 데이터 요약 정보 출력
titanicDF.info()

# 실제 데이터 체크용
titanicDF.head(2)

# 모든 컬럼별 통계값 확인 => 수치형: 분포/범주형: 고유값
titanicDF.descibe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   sex       891 non-null    object
 2   age       714 non-null    float64
 3   fare      891 non-null    float64
 4   class     891 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 34.9+ KB

AttributeError: 'DataFrame' object has no attribute 'descibes'

In [ ]:
# 기본 정보 확인 후 파악된 내용
# - age 컬럼의 결측치 처리
# - survived, sex, class 컬럼이 가진 데이터의 의미 => 범주형 category